body {
    font-family: Georgia, sans-serif;
    margin: 20px;
    background: #ffdddd3f;
}

input, textarea, button {
    width: 100%;
    max-width: 500px;
    height: 50px;
    padding: 20px 16px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #313239;
    border-radius: 3px;
}
/* 
.home_bnt {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    max-width: fit-content;
}

.container {
    display: flex; /* Make the container a flex container */
    /* flex-flow: column wrap; direction "row" and wrap the items. */
    /* align-items: center; Center wrapper-form horizontally */
    /* gap: 70px;
} */

/* .file_upload_wrapper {
    display: flex;
    flex-flow: column;
    max-width: 400px;
    align-items: center;
    width: 90%;
    border: 2px dotted #551051af;
    border-radius: 15px;
    text-align: center;
} */
/* 
.subtitle {
    width: 400px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase; */
    /* text-shadow: 1px 1px 1px black; */
    /* font-size: 30px;
} */

/* #file {
    display: none;
}

#uploadBtm {
    width: 90%;
    max-width: 300px;
    cursor: pointer;
    transition: 0.4s;
}

#uploadBtm:hover {
    transform: scale(1.2);
    opacity: 1.2;
} */

/* #fileName, #submitBtn {
    border: none;
    font-size: 16px;
    font-style: italic;
    color: #9027f3;
    padding: 12px;
    border-radius: 15px;
    background-color: #e7e7e7e1;
    margin-top: -20px;
}  */

/* #submitBtn {
    font-size: 20px;
    padding: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -26px;
}

#submitBtn:hover {
    cursor: pointer;
    color: #7216c8;
    background-color: #e7e7e7;
} */
