body {
    font-family: Georgia, sans-serif;
    margin: 20px;
    background: #ffdddd3f;
}

.container {
    display: flex; /* Make the container a flex container */
    flex-flow: column wrap; /*direction "row" and wrap the items.*/
    align-items: center; /* Center wrapper-form horizontally */
    gap: 70px;
}

.file_upload_wrapper {
    display: flex;
    flex-flow: column;
    max-width: 400px;
    align-items: center;
    width: 90%;
    border: 2px dotted #551051af;
    border-radius: 15px;
    text-align: center;
}

.subtitle {
    width: 400px;
    text-align: center;
}

#file {
    display: none;
}

#uploadBtm {
    width: 90%;
    max-width: 300px;
    cursor: pointer;
}

#uploadBtm:hover {
    transform: scale(1.2);
    /* opacity: 0.9; */
    transition: 0.4s;
}

#fileName {
    font-size: 16px;
    font-style: italic;
    color: #9027f3;
    padding: 12px;
    border-radius: 15px;
    background-color: #e7e7e7e1;
    margin-bottom: -22px;
}
